@charset "UTF-8";
body {
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
p {
    padding-bottom: 10px;
}
img {
    padding-bottom: 20px;
}
button {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    position: relative;
}
button:active {
    padding: 8px;
}
button:hover {
    background-color: rgb(68, 12, 119);
}
input {
    background-color: azure;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}
.git {
    padding-top: 20px;
}
footer {
    padding-top: 20px;
}
footer p {
    padding: 0px;
}
footer a {
    text-decoration: none;
    color: rgb(153, 112, 247);
    font-weight: bold;
    transition-duration: .5s;
}
footer a:hover {
    background-color: rgb(68, 12, 119);
    padding: 5px;
    border-radius: 5px;
    transition-duration: .5s;
}